<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sealify</title>
    <%include templates/bootstrap.ejs%>
    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">
 </head>

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Sealify</h3>
                        <div class="nav-selects">
                            <ul class="nav masthead-nav navbar-nav">
                                <li>
                                    <a href="#">Login</a>
                                </li>
                                <li>
                                    <a href="#">Sign Up</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="inner cover">
                    <h1 class="cover-heading">Sealify</h1>
                    <p class="lead">Sealify is an email client that looks to protect your credentials.
                    </p>
                    <p class="lead"><a class="btn btn-lg btn-success" href="#">Get Started</a></p>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>
                            © 2016 Made with
                            <3 at BrickHack </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
