<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mailbox | Sealify</title>
    <%include templates/bootstrap.ejs%>
  </head>

  <body>
    
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
