html,
body {
    background: url(/images/envelope.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    text-align: center;
}

.head-btns .btn {
    background: none;
    color: white;
    border: round;
    border-color: white;
}

#btn-login {
    margin-right: 20px;
}

#header {
    padding-top: 50px;
}

#logo {
    height: 50px;
}

.vertical-center {
    min-height: 25%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 25vh; /* These two lines are counted as one :-)       */
    color: white;
    display: flex;
    align-items: center;
}

.vertical-center h1 {
    font-size: 90px;
    font-family: "Times New Roman", Times, serif;
}