.list-group-item {
    overflow: hidden;
}

.mess-long {
    display: none;
}

#btn-compose {
    margin-left: 40px;
}

#btn-close {
    margin-right: 10px;
}

.easy-autocomplete {
	width: 100% !important;
}